body {
  font-size: 15px;
  color: #333333;
}
.container {
  margin: 0 auto;
  max-width: 1200px;

  @media (max-width: $mediumDevices) {
    max-width: 890px;
  }
  
  @media (max-width: $smallDevices) {
    max-width: 680px;
  }

  @media (max-width: $extraSmallDevices) {
    max-width: 500px;
  }
  @media (max-width: 500px) {
    max-width: 400px;
  }
  @media (max-width: 400px) {
    max-width: 300px;
  }
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  height: 0px; width: 0px;
  margin: -1px; padding: 0; border: 0;
}
