$column: 12;
$gap: 30px;



@for $i from 1 through $column {
  .row-#{$i}-#{$column} {
    display: grid;
    grid-gap: $gap;
    @if ($i % 2 == 0) {
      grid-template-columns: repeat(($column / $i), 1fr);
    } @else if  ($i % 3 == 0) {
      grid-template-columns: repeat(($column / $i), 1fr);
    } @else {
          grid-template-columns: repeat($i, 1fr);
    }
  }
}