.main-services {
  padding-bottom: 80px;
  
}
.main-services__row {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $textColor;
  }

  @media (max-width: $smallDevices) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &:after {
      top: 27%;
    }

    &:before {
      content: '';
      position: absolute;
      top: 63%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $textColor;
    }
  }
}
.service {
  display: grid;
  grid-template-columns: 20% 80% ;
  padding-bottom: 60px;
}

.service > .fa {
  color: $shadowColor;
  text-align: center;
  font-size: 30px;
  grid-column: 1;
  grid-row: 1/3;
}

.services__title,
.service__desc {
  grid-column: 2;
}
.services__title {
  grid-row: 1;
  text-transform: uppercase;
  font-family: $headerFont;
  font-weight: bold;
  padding-bottom: 15px;
}
.service__desc {
  font-family: $textFont;
  grid-row: 2;
  color: $textColor;
}
