.main-blog {
  margin-bottom: 100px;
}
.main-blog__row__col-4-12__image {
  height: 240px;
  position: relative;

  @media (max-width: $smallDevices) {
    height: initial;
  }
}
.main-blog__row__col-4-12__image-date {
  position: absolute;
  left:-14px;
  bottom: 10px;
  width: 60px;
  height: 70px;
  background-color: $shadowColor;
  color: #fff;
  text-align: center;
  vertical-align: center;
}
.main-blog__row__col-4-12__image-date strong {
  font-family: $headerFont;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}
.main-blog__row__col-4-12__image-date span {
  font-family: $textFont;
  font-style: italic;
}
.main-blog__row__col-4-12 figcaption {
  font-family: $textFont;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0;
}
.main-blog__row__col-4-12 p:first-of-type {
  font-family: $textFont;
  color: $textColor;
  padding-bottom: 20px;
}
.main-blog__row__col-4-12__notes {
  border-top: 1px solid $textColor;
  display: flex;
  padding-top: 15px;
}
.main-blog__row__col-4-12__notes__views {
  display: flex;
  margin-right: 25px;
}
.main-blog__row__col-4-12__notes__comments {
  display: flex;
  margin-right: 5px;
}
.main-blog__row__col-4-12__notes p {
  font-family: $textFont;
  font-style: italic;
}
.main-blog__row__col-4-12__notes .fa {
  color: $shadowColor;
}