.main-our-team__row__col-4-12 {
  margin-bottom: 120px;
}
.main-our-team__row__col-4-12__photo {
  position: relative;
  height: 400px;
  margin-bottom: 25px;
}
.main-our-team__row__col-4-12__photo-hover {
  opacity: 0;
}
.main-our-team__row__col-4-12__photo:hover .main-our-team__row__col-4-12__photo-hover {
  opacity: 1;
  transition: 0.5s all;
}
.main-our-team__row__col-4-12__photo-image-1 {
  height: 100%;
  background-image: url("../images/meet-our-team/Bez-nazwy-6.jpg");
  background-size: cover;
  background-position: 22% center;
}
.main-our-team__row__col-4-12__photo-image-2 {
  height: 100%;
  background-image: url("../images/meet-our-team/Bez-nazwy-7.jpg");
  background-position: 60% center;
  background-size: cover;
}
.main-our-team__row__col-4-12__photo-image-3 {
  height: 100%;
  background-image: url("../images/meet-our-team/Bez-nazwy-8.jpg");
  background-position: center center;
  background-size: cover;
}
.main-our-team__row__col-4-12__photo-hover__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 50%;
  height: 40px;
  background-color: #fce38a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-our-team__row__col-4-12__photo-hover__icons a {
  text-decoration: none;
  background-color: #fce38a;
  font-size: 20px;
  color: #f38181;
  border-right: 1px solid $textColor;
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 40px;
  transition: 0.5s all;

  &:last-of-type {
    border: none;
  }

  &:hover {
    background-color: #f38181;
    color:  #fce38a;
  }
}

.main-our-team__row__col-4-12 figcaption {
  font-family: $headerFont;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.main-our-team__row__col-4-12 p {
  text-align: center;
  font-family: $textFont;
  font-style: italic;
}
