.main-projects {
  margin-bottom: 100px;
}

.main-projects__row {
  grid-gap: 0;
  height: 600px;
  margin-bottom: 80px;

  @media(max-width: $smallDevices) {
    height: 1600px;
  }
}

.main-projects__col {
  height: 100%;
  position: relative;
}

.col__half-height .photo-hover,
.col__full-height .photo-hover {
  box-shadow: 0 0 0 0;
}

.col__full-height {
  height: 100%;
}

.col__half-height {
  height: 50%;
}

.main-projects__image-1,
.main-projects__image-2,
.main-projects__image-3,
.main-projects__image-4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
}

.main-projects__image-6,
.main-projects__image-7 {
  background-position: center 10%;
  background-size: cover;
  position: relative;
}

.main-projects__image-5 {
  background-image: url("../images/our-projects/Bez-nazwy-6.jpg");
  height: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.main-projects__image-6 {
  background-image: url("../images/our-projects/Bez-nazwy-7.jpg");
}

.main-projects__image-7 {
  background-image: url("../images/our-projects/Bez-nazwy-10.jpg");
}

.main-projects__image-1 {
  background-image: url("../images/our-projects/Bez-nazwy-4.jpg");
}

.main-projects__image-2 {
  background-image: url("../images/our-projects/Bez-nazwy-8.jpg");
}

.main-projects__image-3 {
  background-image: url("../images/our-projects/Bez-nazwy-5.jpg");
}

.main-projects__image-4 {
  background-image: url("../images/our-projects/Bez-nazwy-9.jpg");
}

.main-projects__row-3-12__col-3-12__photo-hover {
  box-shadow: none;
  color: $onGradientColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.main-projects__row-3-12__col-3-12__photo-hover>.fa {
  font-size: 30px;
  padding-bottom: 10px;
}

.main-projects__row-3-12__col-3-12__photo-hover h6 {
  text-transform: uppercase;
  font-family: $headerFont;
  font-weight: bold;
  padding-bottom: 10px;
}

.main-projects__row-3-12__col-3-12__photo-hover p {
  font-family: $textFont;
  font-style: italic;
}

.col__half-height:hover .photo-hover,
.col__full-height:hover .photo-hover {
  opacity: 1;
  transition: 0.5s all;
}

.main-projects__row-3-12__col-3-12__all-height:hover .main-projects__row-3-12__col-3-12__photo-hover {
  opacity: 1;
  transition: 0.5s all;
}


.main-projects__quotation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.main-projects__quotation button {
  height: 100%;
  cursor: pointer;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.main-projects__quotation button>.fa {
  color: $textColor;
}



