.main-about-us__col{
  height: 255px;
  width: 100%;
  position: relative;
  margin-bottom: 80px;

  @media (max-width: $smallDevices) {
    height: 400px;
  }
}



.main-about-us__col:hover .main-about-us__photo-hover {
  opacity: 1;

}
.main-about-us__img{
  height: 100%;
}

.main-about-us__counters {
  background-color: $shadowColor;
}
.counters__col {
  color: $onGradientColor;
  text-align: center;
  border-left: 0.5px solid $onGradientColor;
  font-family: $headerFont;
  padding: 40px 0;

  &:last-of-type {
    border-right: 0.5px solid $onGradientColor;

    @media (max-width: 500px) {
      border-right: none;
    }
  }

  @media (max-width: 500px) {
    padding: 10px 0;
    border-left: none;
  }
}
.counters__count {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 15px;
}
.counters__desc {
  text-transform: uppercase;
}
