.main-blog {
  margin-bottom: 100px;
}
.blog__image-box {
  height: 240px;
  position: relative;

  @media (max-width: $smallDevices) {
    height: initial;
  }
}
.blog__published-date {
  position: absolute;
  left:-14px;
  bottom: 10px;
  width: 60px;
  height: 70px;
  background-color: $shadowColor;
  color: #fff;
  text-align: center;
  vertical-align: center;
}
.blog__published-date strong {
  font-family: $headerFont;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}
.blog__published-date span {
  font-family: $textFont;
  font-style: italic;
}
.blog__title {
  font-family: $textFont;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0;
}
.blog__desc {
  font-family: $textFont;
  color: $textColor;
  padding-bottom: 20px;
}
.blog__followers {
  border-top: 1px solid $textColor;
  display: flex;
  padding-top: 15px;
}
.blog__views {
  display: flex;
  margin-right: 25px;
}
.blog__comments {
  display: flex;
  margin-right: 5px;
}
.views__count,
.comments__count {
  font-family: $textFont;
  font-style: italic;
}
.blog__followers .fa {
  color: $shadowColor;
}
