.main-what-we-do__row {
  margin-bottom: 100px;


  @media (max-width: $smallDevices) {
    max-height: initial;
  }
}
.main-what-we-do__col {
  height: 100%;

}
.main-what-we-do__col:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first-col__img{
  height: 390px;
  display: block;
}
.main-what-we-do__row__col-6-12__metier {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.metier__text {
  font-family: $textFont;
  font-style: italic;
  color: $textColor;
  margin: 15px 15px;
  line-height: 25px;
  overflow-y: scroll;
  height: 160px;
  transition: all .2s ease-out;
  position: relative;

  &::-webkit-scrollbar {
    width: 6px;
    color: $shadowColor;
  }

  &::-webkit-scrollbar-track {
    background: $textColor;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $shadowColor;
    border-radius: 10px;
  }
}
.metier__banner {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-row: unset;
  border: 1px solid rgba($textColor, 0.5);
  position: relative;
}
.fa-angle-down {
  position: absolute;
  top: 25%;
  left: 95%;
  font-size: 25px;
}
.metier__banner > .fa,
.metier__title {
  line-height: 50px;
}
.metier__banner > .fa {
  color: $shadowColor;
  font-size: 30px;
  text-align: center;
}
.metier__title {
  font-family: $headerFont;
  text-transform: uppercase;
  font-weight: bold;
}
.fa-align-center {
  transform: rotate(90deg);
}

.metier__box-text {
  border: 1px solid rgba($textColor, 0.5);
  border-top: 0;
}
.metier__box-text.visible,
.metier__box-text.hidden {
  overflow: hidden;
}
.metier__box-text.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
.metier__box-text.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.metier__box-text.hidden p {
  margin-top: -10000px;
  transition: margin-top 0s 0.5s;
}

.up {
  transform: rotate(180deg);
}

.main-what-we-do__box {
  background-color: #f8f8f8;
}
