.main-map {
  margin-bottom: 50px;
}
.main-map__background {
  background-image: linear-gradient(rgba(#fff,0.8), rgba(#fff,0.9)),
  url("../images/map/background.png");
  background-size: cover;
  background-position: center center;
  margin-bottom: 70px;
}

.main-map__row {
  display: grid;
  grid-template-columns: 40% 30% 20%;
  min-height: 380px;

  @media (max-width: $mediumDevices) {
    grid-template-rows: repeat(1fr);
    grid-template-columns: none;
    
  }
}
.main-map__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
  @media (max-width: $mediumDevices) {
    align-items: center;
    justify-content: center;
  }
}
.follow-us__title {
  font-family: $headerFont;
  font-size: 30px;
  font-weight: bold;
  color: $textColor;
  
  @media (max-width: $mediumDevices) {
    margin-bottom: 15px;
  }
}
.follow-us__desc {
  font-family: $textFont;
  color: $textColor;
  
  @media (max-width: $mediumDevices) {
    margin-bottom: 15px;
    text-align: center;
  }
}
.follow-us__followers {
  font-family: $headerFont;
  @media (max-width: $mediumDevices) {
    margin-bottom: 15px;
  }
}
.follow-us__followers strong {
  font-weight: bold;
}
.follow-us__icons {
  padding-top: 20px;
  border-top: 1px solid $textColor;
  @media (max-width: $mediumDevices) {
    margin-bottom: 15px;
  }
}
.icons__title {
  font-family: $textFont;
  font-style: italic;
  display: inline-block;
  padding-right: 5px;
}
.follow-us__link {
  padding: 0 5px;
  color: $shadowColor;
  text-decoration: none;
}
.follow-us__link > .fa {
  transition: 0.5s all;

  &:hover {
    transform: scale(1.5, 1.5);
    color: #f38181;
  }
}
.main-map__row__col-4-12__form {

  &:focus {
    outline: none;
  }
}
.main-map__row__col-4-12__form label {}
.main-map__row__col-4-12__form input {
  height: 30px;
  border: 1px solid $textColor;

  &::placeholder {
    font-family: $textFont;
    font-style: italic;
    padding-left: 5px;
  }
}
.main-map__row__col-4-12__form button {
  text-transform: uppercase;
  border-style: none;
  background-color: $shadowColor;
  color: #fff;
  font-family: $headerFont;
  font-weight: bold;
  border: 1px solid $textColor;
  padding: 8px 15px;
}

.col__title {
  font-family: $headerFont;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.main-map__row__col-4-12__cnt__blog {
  display: grid;
  grid-template-areas:  "a b"
                        "a c";
  grid-column-gap: 20px;
  margin-bottom: 20px;

  &:last-of-type {
    margin: 0;
  }
}
.main-map__row__col-4-12__cnt__blog-image {
  width: 120px;
  height: 80px;
  grid-area: a;
}
.main-map__row__col-4-12__cnt__blog h5 {
  grid-area: b;
  margin-top: 15px;
  text-transform: uppercase;
  font-family: $headerFont;
  font-size: 13px;
}
.main-map__row__col-4-12__cnt__blog time {
  grid-area: c;
  font-family: $textFont;
  font-style: italic;
  color: $textColor;
}
