
.navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding:20px 0;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index:10;
  transition: .7s all;
}


.navigation__nav {
  margin-right: 4%;
}
.logo__link,
.navigation__link{
  @include stylingLinks;
}
.logo__link {
  font-family: $headerFont;
  font-weight: bold;
  font-size:30px;
  text-transform: none;
  position: absolute;
  left: 5%;
  z-index: 210;
}
.navigation__list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(7, 1fr);
  padding-top:15px;
  text-align: center;

  @media (max-width: 900px) {
    display: none;
  }
}
.navigation__link {
  position: relative;
  transition: 0.5s all;

  &:hover {
    color: #fce38a;
    transition: 0.5s all;

    &:before {
      content: '';
      height: 2px;
      width: 100%;
      background-color: #fce38a;
      position: absolute;
      top: 24px;
      left: 0px;
      animation-name: slideToLeft;
      animation-duration: 0.5s;
    }
  }
}

@keyframes slideToLeft {
  0% {transform: translateY(-150px)};
  100% {transform: translateY(0)};
}

.sticky {
  background: #f38181;
  opacity: 0.9;
  height: 30px;
}

/* hamburger */
.navigation__mobile {
  display: none;
  .menu {
    position: absolute;
    right: 0;
    top: -200px;
    z-index: 100;
    width: 140px;
    height: 140px;
    background: #f38181;
    border-radius: 50% 50% 50% 50%;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  .hamburger {
    position: absolute;
    top: 235px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #fff;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
    &:after,
    &:before {
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #fff;
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }
  input {
    display: none;
  }
  input:checked + .menu {
    box-shadow: 0 0 0 100vw #f38181, 0 0 0 150vh #f38181;
    border-radius: 0;
    .hamburger {
      transform: rotate(45deg);
      &:after {
        transform: rotate(90deg);
        bottom: 0;
      }
      &:before {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }

  input:checked + .menu + ul {
    opacity: 1;
    display: block;
  }

  ul {
    z-index: 200;
    position: absolute;
    top: 100%;
    left: 47%;
    opacity: 0;
    display:none;
    transition: .25s 0s ease-in-out;
    text-align: center;
  }

  a {
    @include stylingLinks;
    padding: 1em;
  }
  
  @media (max-width: 900px) {
    display: block;
  }
}

