.slider {
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}



.slide__icon {
  min-width: 120px;
  height: 120px;
  background-image: url("../images/our-projects/Bez-nazwy-1.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 15px;
  
  @media (max-width: $smallDevices) {
    margin-bottom: 20px;
  }
}


.main-what-we-do__slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;

  @media (max-width: $smallDevices) {
    height: 180px;
  }
}

.slider__prev, 
.slider__next {
  height: 100%;
  cursor: pointer;
  background: none;
  border: none;
  padding: 40px 15px;
  
  @media (max-width: $extraSmallDevices) {
    padding: 40px 10px;
  }

  &:focus {
    outline: none;
  }
}
.slider__prev, 
.slider__next > .fa {
  color: $textColor;
}
.slide {
  display: flex;
  align-items: center;
  height: 100%;
  transition: 1s all;
  
  @media (max-width: $smallDevices) {
    flex-direction: column;
  }
}
.slide.isActive {
  opacity: 1;
}


.slide > .fa-comments {
  color: $shadowColor;
  font-size: 70px;
  padding: 0 30px;

  @media (max-width: $smallDevices) {
    padding: 0 30px;
  }

  @media (max-width: $extraSmallDevices) {
    padding: 0;
  }
}
.slide__text-box {
  padding-right: 60px;
  padding-left: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $mediumDevices) {
    padding-right: 30px;
  }
  
  @media (max-width: $smallDevices) {
    padding-right: 10px;
    padding-left: 0;
  }
}
.slide__text {
  font-family: $textFont;
  color: $textColor;
  font-style: italic;
  padding-bottom: 10px;
}
.slide__author {
  font-family: $titleFont;
  font-size: 20px;
  position: relative;
  padding-left: 40px;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #f38181;
  }
}
