$gradientColor: linear-gradient(to bottom, rgba(243,129,129,0.85) 0%, rgba(243,129,129,0.85) 15%, rgba(252,227,138,0.65) 70%, rgba(149,225,211,0.5) 100%);
$textFont: 'Roboto', sans-serif;
$textColor: #b6b6b6;
$headerFont: 'Montserrat', sans-serif;
$titleFont: 'Kaushan Script', cursive;
$onGradientColor: #fff;
$shadowColor: #95e1d3;

$mediumDevices: 991px;
$smallDevices: 767px;
$extraSmallDevices: 575px;

@mixin stylingLinks {
  text-transform: uppercase;
  font-family: $headerFont;
  font-weight: bold;
  font-size: 14px;
  display:inline-block;
  color: $onGradientColor;
  text-decoration: none;
}
