@import '_reset.scss';

@import '_variables.scss';
@import '_grid.scss';
@import '_global-class.scss';
@import '_photo-hover.scss';

@import '_header.scss';
@import '_main-page.scss';
@import '_navigation.scss';
@import '_main-banner.scss';
@import '_main-about-us.scss';
@import '_main-services.scss';
@import '_main-design.scss';
@import '_main-what-we-do.scss';
@import '_main-our-team.scss';
@import '_main-projects.scss';
@import '_main-clients.scss';
@import '_main-blog.scss';
@import '_main-map.scss';

.main-footer {}
.main-footer h3 {
  font-family:$headerFont;
  text-align: center;
  border-top: 1px solid $textColor;
}
.main-footer h3 span {
  color: #f38181;
}